* {
    margin: 0px;
    border: 0px;
    padding: 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    text-decoration: none;
    color: white;
    list-style: none;
    box-sizing: border-box;
}


h1 {
    font-size: xx-large;
    font-weight: 700;
}

h3 {
    font-size: xx-large;
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 0.5rem 2rem;
}

.bg {
    height: 100vh;
    width: auto;
}

.bg-75 {
    height: 75vh;
    width: auto;
}

.colour-1 {
    background-color: #e8e8e8;
}

.colour-2 {
    background-color: #0d7377;
}

.colour-3 {
    background-color: #53354a;
}

.colour-4 {
    background-color: #323232;
}

.colour-5 {
    background-color: #f05454;
}

.bold {
    font-weight: 750;
    font-size: xx-large;
}

.regular {
    font-weight: 400;
}

.thin {
    font-weight: 200;
}

.dark {
    color: #141418;
}

.light {
    color: white;
}

.bright {
    color: #f05454;
    z-index: 3;
}

.container {
    width: 75%;
    margin: auto;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.fx-justify-bw {
    justify-content: space-between;
}

.fx-justify-ev {
    justify-content: space-evenly;
}

.fx-justify-ar {
    justify-content: space-around;
}

.s-font {
    font-size: x-small;
}

.alg-center {
    align-items: center;
}

.no-clk {
    cursor: default;
}


/* Scrollbar */
:root {
    --text-primary: #686d76;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: #333;
}

body::-webkit-scrollbar-thumb {
    background: #8cc63f;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(10%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
}

.fa-primary-logo {
    fill: #8cc63f;
}

.fa-secondary-logo {
    fill: #333;
}


.fa-primary {
    fill: #8cc63f;
}

.fa-secondary {
    fill: #686d76;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-360deg);
}


/* common for all sections */

.design {
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: 15%;
    z-index: 1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}




/* ########################################################################################### */
/* Section 1 */
.section-1 {
    color: #141418;
    display: flex;
    justify-content: space-between;
}

#sec-1-img {
    max-width: 25vw;
    min-width: 12rem;
    border-radius: 1rem;
    border: 1px solid #f05454;
}

.photo {
    z-index: 2;
}

/* ************************************************************************************ */
/* Section 2 | About me */


.para {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 {
    width: 75%;
    padding: 3rem 0;
}

/* **************************************************************************************************** */
/* Footer section */
.footer {
    padding: 0.5rem 0 1.5rem;
}

.footer .flex-list-items {
    margin: 0 1rem;
}

/* ################################################################################################### */
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .photo {
        width: 100%;
    }

    .section-1 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .photo {
        text-align: center;
    }

    .footer {
        padding: 1rem 0 6rem;
    }


}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 4rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}